{% extends 'main/base.html' %} 
    {% block title %}
        NetFix
    {% endblock %}

{% block content %}
    <div class="home-content-margin">
        <p class="site_title">NetFix</p>
        <img class="home_logo" src="static/logo.png" alt="logo">
    </div>

    <p class="title">Most Requested Services</p>
    <div class='services_list'>
        {% if top_services %}
            {% for service in top_services %}
                <div class="service-header">
                    <a href="/services/{{service.id}}">
                        <p class="service-name">{{service.name}}</p>
                    </a>
                    <p class="service-description">{{service.description}}</p>
                    <p class="service-price">{{service.price_hour|floatformat:2}} $/hour</p>
                    <p class="service-company-info">
                        by <a href="/company/{{service.company.user}}">{{service.company.user}}</a>
                        <br>{{ service.date|date:"F d, Y" }}                            
                    </p>
                </div>
                {% if forloop.counter != top_services|length %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>No services have been requested yet.</h2>
        {% endif %}
     </div>
{% endblock %}
