{% extends 'main/base.html' %}
{% block title %}
    {{field}} Services List
{% endblock %}
{% block content %}

    {% if services.all|length != 0 %}
        <p class="title">{{field}} Services</p>
        <ul class='services_list'>
            {% for service in services %}
                <div class="service-header">
                    <a href="/services/{{service.id}}">
                        <p class="service-name">{{service.name}}</p>
                    </a>
                    <p class="service-description">{{service.description}}</p>
                    <p class="service-price">{{service.price_hour}} $/hour</p>
                    <p class="service-company-info">by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></p>
                </div>
                {% if forloop.counter != services|length %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <h2>Sorry. No {{field}} services available</h2>
    {% endif %}
{% endblock %}