{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}
{% block content %}
    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="/services/create"> Create Service</a>
    {% endif %}
    <div class='services_list'>
        {% if services %}
            {% for service in services.all %}
                <div class="service-header">
                    <a href="/services/{{service.id}}">
                        <p class="service-name">{{service.name}}</p>
                    </a>
                    <p class="service-description">{{service.description}}</p>
                    <p class="service-price">{{service.price_hour}} $/hour</p>
                    <p class="service-company-info">by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></p>
                </div>
                {% if forloop.counter != services.all|length %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Sorry No services available yet</h2>
        {% endif %}
     </div>
{% endblock %}
