{% extends 'main/base.html' %}

{% block title %}
Most Requested Services
{% endblock %}

{% block content %}
<h2>Most Requested Services</h2>
{% if services %}
    {% for service in services %}
        <div>
            <a href="/services/{{ service.id }}">{{ service.name }}</a> - {{ service.num_requests }} requests
            <p>{{ service.description }}</p>
            <p>Price: {{ service.price_hour }}€/hour</p>
            <p>Field: {{ service.field }}</p>
            <p>Provided by: <a href="/company/{{ service.company.user.username }}">{{ service.company.user.username }}</a></p>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No services found.</p>
{% endif %}
{% endblock %}